/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/reset.h>

&led_strip {
    chain-length = <27>;
};

/ {
    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp I &kp C &kp O &kp H &kp U &kp L &kp K>;
        };

        np: np {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp I &kp C &kp O &kp H &kp U &kp L &kp K &kp RET>;
        };

        ip: ip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp N &kp N8 &kp N9 &kp N0 &kp N6 &kp N4 &kp N5>;
        };

        ipad: ipad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp N &kp N5 &kp N6 &kp N8 &kp N3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        tlone {
            bindings = <&tog 1>;
            key-positions = <39 40>;
        };

        tl2 {
            bindings = <&tog 2>;
            key-positions = <41 40>;
        };

        tfdad {
            bindings = <&tog 3>;
            key-positions = <6 7>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BAS";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q             &kp W  &kp E     &kp R        &kp T    &kp Y  &kp U      &kp I            &kp O    &kp P     &kp BACKSPACE
&kp LEFT_SHIFT  &kp A             &kp S  &kp D     &kp F        &kp G    &kp H  &kp J      &kp K            &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &mt LEFT_SHIFT Z  &kp X  &kp C     &kp V        &kp B    &kp N  &kp M      &kp COMMA        &kp DOT  &kp FSLH  &kp RIGHT_ALT
                                         &kp LGUI  &lt 2 ENTER  &mo 1    &mo 2  &kp SPACE  &lt 1 BACKSPACE
            >;
        };

        lower_layer {
            display-name = "LOW";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB         &kp N1        &kp N2        &kp N3        &kp N4         &kp N5           &kp N6         &kp N7     &kp N8          &kp N9     &kp N0           &kp BSPC
&kp LEFT_SHIFT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR     &bt BT_DISC 1    &kp LG(PLUS)   &mkp LCLK  &kp UP          &mkp RCLK  &kp K_POWER      &trans
&kp LSHFT       &kp LCTRL     &kp TAB       &kp ESCAPE    &kp LC(LG(Q))  &np              &kp LG(MINUS)  &kp LEFT   &kp DOWN_ARROW  &kp RIGHT  &kp LG(RA(ESC))  &trans
                                            &kp LGUI      &kp ENTER      &trans           &trans         &kp SPACE  &trans
            >;
        };

        raise_layer {
            display-name = "RAI";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

           bindings = <
&kp TAB    &kp EXCL         &kp AT                &kp HASH              &kp DLLR              &kp PRCNT       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &kp LC(TAB)      &kp LG(S)             &kp C_BRIGHTNESS_INC  &mt LG(TAB) CAPSLOCK  &out OUT_TOG    &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &kp LC(LS(TAB))  &kp LG(LS(NUMBER_3))  &kp C_BRIGHTNESS_DEC  &kp LG(W)             &kp LG(Q)       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                                  &kp LGUI              &kp BACKSPACE         &kp ENTER       &kp SPACE  &trans     &to 3
            >;
        };
        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
    conditional_layers {
        compatible = "zmk,conditional-layers";

        if {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
